/****** BASE STYLES ******/
body{
    
    background-color: rgb(250, 238, 240);
    font-family: 'Josefin Sans', sans-serif;
    color:hsl(0, 36%, 70%);
    font-size: 1rem;
}

/**********MAIN STYLES************/
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
}

.logo img{
    height: 25px;
    width: 115px;
}

.logo{
    width: 30%;
    margin: 1.5rem 3rem 1.5rem 1.5rem;
 }

.woman-image {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;

}

img .woman-image{
    width: inherit;
}

.img-desktop {
    display: none;
}

div.content-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.article {
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    padding: 0 2rem;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 5px;
}

span{
    font-weight: 400;
    color: #2b2b2b;
}

p{
    text-align: center;
    line-height: 1.5rem;
}

/************email button************/

.email-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
}

.user-input {
    width: 15rem;
    height: 1rem; 
    border: solid .5px;
    border-color:hsl(0, 36%, 70%);
    border-radius: 5rem;
    padding: 15px;
    background-color:  rgb(250, 238, 240);
  }
  
.submit-button {
    height: 3em;
    background-color:hsl(0, 60%, 81%); ;
    width: 4em;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    margin-left: -3rem;
    border: none;
    
    box-shadow: 5px hsl(0deg 93% 82%);
}

/*.arrow {
    width: 12px;
    height: 12px;
}*/

.error {
    display: none;
}

.attribution {
    font-size: 12px;
}

/*************************Desktop*****************************/
@media (min-width: 900px) {
    
    body {
        background-image: url(/images/bg-pattern-desktop.svg),
        linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        display: flex;
    }

    .container {
        position: relative;
        display: flex;
        flex-flow: row;
        min-height: 100vh;
    }

    .col-1 {
        flex-basis: 60%;
        padding: 5rem 11rem 0 6rem;
    }

    .col-2 {
        flex-basis: 40%;
        flex: grow;
    }

    .logo {
        margin: 0;
     }

    .woman-image {
        display: none;
    }

    div.content-wrapper {
        padding-left: 0; 
        margin-top: 2rem;
        width: 400px;

       }
    
    h1, p, form{
        text-align: left;
        padding: 0;
    }

    h1 {
        font-size: 4rem;
    }

    .img-desktop {
        display: contents;
        width: 100%;
    }

    .email-form  {
        padding-top: 2rem;
    }

    .user-input {
        width: 25rem;
    }

    /* I did this b/c I can't get it to show up without messing up the email input*/
    footer {
        display: none;
    }
}